@font-face {
    font-family: neon;
    src: url("./font/hello-denver-display/hellodenverdisplayregular_v1.6.ttf");
}
@font-face {
    font-family: buttonFont;
    src: url("./font/Aldrich/Aldrich-Regular.ttf");
}





html
{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background: #232323;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}

header{
    margin: 0;
    width: 100vw;
    height: 30vh;    
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:
    0 0 0.1vw  0.2vw #e50b0b,   
    0 0 0.4vw  0.3vw #e97272, 
    0 0   4vw  0.2vw #2db300,
  
    inset 0 0 1.5vw  0.4vw #1b67e0,
    inset 0 0 0.4vw  0.2vw #e97272,
    inset 0 0 0.3vw  0.2vw #fff7f7;
}
h1{
    text-align: center;
    font-family: neon;
    font-size: 6rem;
    
    
}
.rock{
  
    color: #e50b0b;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #e50b0b, 0 0 30px #e50b0b, 0 0 40px #e50b0b, 0 0 55px #e50b0b, 0 0 75px #e50b0b;
}
.paper{
    
    color: #2db300;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #2db300, 0 0 30px #2db300, 0 0 40px #2db300, 0 0 55px #2db300, 0 0 75px #2db300;
}
.scissor{
   
    color: #1b67e0;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #1b67e0, 0 0 30px #1b67e0, 0 0 40px #1b67e0, 0 0 55px #1b67e0, 0 0 75px #1b67e0;
}
.button-container{
    height:15vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    gap:1em
}
.score{
    height: 12.5vh;
    width: 25vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10%;
    border: 0.5rem solid grey;
    padding: 1em;
    color: #EFEFEF;

}
.score p{
    font-family: neon;
    overflow: hidden;
    border-right: .15em solid black;
    white-space: nowrap;
    font-size: 1.2rem;
    
}

.display
{
    height: 25vh;
    width: 60vw;
    background-color: black;
    background-image: url('./Img/gon.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10%;
    border: 0.5rem solid grey;
    padding: 1em;
}

.dynamic-txts{
    display: inline-block;
    color: #EFEFEF;
 
}

.dynamic-txts p {
    font-family: neon;
    overflow: hidden;
    border-right: .15em solid black;
    white-space: nowrap;
    animation: typing 1s steps(50, end) forwards;
    font-size: 1.5rem;
}
.start
{
    color: white;
}
.win{
    color: #2db300;
    text-shadow: rgb(0,0,255,) 0px 3px 3px;
    
}
.loose{
    color: #e50b0b;
    text-shadow: rgb(0,0,255,) 0px 3px 3px;
}
.tie{
    color:#1b67e0;
    text-shadow: rgb(0,0,255,) 0px 3px 3px;
}

@keyframes typing{
    from{ width: 0;}
    to {width: 100%;}
}

.choice{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
      height: 5rem;
      border: 1em dashed;
      border-radius: 50%;
      margin: 50px auto;
      position: relative;
      padding: 1rem;
      box-shadow:
        0 0 0 4px rgba(0,0,0,0.1),
        inset 0 0 0 3px #EFEFEF,
        inset 0 0 10px black,
        0 0 10px rgba(0,0,0,0.2);
}
.buttonChoice.rock{
    background-image: url('./Img/imageedit_9_8268252743.png');
    background-size:350%;
    overflow: hidden;
    background-position:center center;

}
.buttonChoice.paper
{
    background-image: url('./Img/imageedit_20_9527402493.png');
    background-size:300%;
    overflow: hidden;
    background-position:center top 45%;

}
.buttonChoice.scissor{
    background-image: url('./Img/imageedit_17_7608943391.png');
    background-size:250%;
    overflow: hidden;
    background-position: center top 45%;
}

.buttonChoice
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: #232323;
    padding: 3rem;
    font-family: buttonFont;
    font-weight: bold;
    font-size: 1em;
    overflow: hidden;

}

.buttonGame{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    border: 0.5em dashed;
    border-radius: 50%;
    background-color: #232323;
    padding: 3rem;
    font-family: buttonFont;
    font-weight: bold;
    font-size: 1em;
    overflow: hidden;
    color:#2db300;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #2db300, 0 0 30px #2db300, 0 0 40px #2db300, 0 0 55px #2db300, 0 0 75px #2db300;
}

.footer a {
    font-size: 1.5em;
}
.footer a:hover{
    background-image: linear-gradient(90deg, rgb(202, 239, 215) 0%, rgb(245, 191, 215) 50%, rgb(171, 201, 233) 100%);
    border: 1px solid black;
    
    padding: 0 1em;

}

 footer{
    position: absolute;
    bottom: 0;
    width: 100vw;
    font-family: buttonFont;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    opacity: 0.7;
    color: white;
    text-align: center;
    font-size: 0.7em;
    line-height: 1em;
 }

 .footer {
    color: #1f2937;
    background: rgb(0, 0, 0);
    box-shadow: 0 0 1em rgb(0 0 0);
    padding: 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
@media screen and (max-width:1050px) 
{ 
    h1{
        font-size: 5rem;
    }
    .dynamic-txts p {
        font-family: neon;
        overflow: hidden;
        border-right: .15em solid black;
        animation: typing 1s steps(50, end) forwards;
        font-size: 1.2rem;
    }
    .buttonGame{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5rem;
        height: 5rem;
        border: 0.1em dashed;
        border-radius: 50%;
        background-color: #232323;
        padding: 2.5rem;
        font-family: buttonFont;
        font-weight: bold;
        font-size: 0.8rem;
        overflow: hidden;
        color:#2db300;
        text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #2db300, 0 0 30px #2db300, 0 0 40px #2db300, 0 0 55px #2db300, 0 0 75px #2db300;
    }

    .choice{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        border: none;
        border-radius: 50%;
        margin: 50px auto;
        position: relative;
        padding: 1rem;
        box-shadow:none
            
    }
    footer{
        font-size: 0.7rem;
        line-height: 0;
    }
    
}

@media screen and (max-width:500px)
{
    h1{
        font-size: 2rem;
    }
    .dynamic-txts p {
        font-family: neon;
        overflow: hidden;
        border-right: .15em solid black;
        
        white-space: initial;
        font-size: 0.8rem;
    }
    .score p{
        font-family: neon;
        overflow: hidden;
        border-right: .15em solid black;
        white-space: initial;
        font-size: 0.8rem;

    }
    .container{
        width: 100vw;
    }
    .buttonGame{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.5rem;
        height: 2.5rem;
        border: 0.1em dashed;
        border-radius: 50%;
        background-color: #232323;
        padding: 1.75rem;
        font-family: buttonFont;
        font-weight: bold;
        font-size: 0.8rem;
        overflow: hidden;
        color:#2db300;
        text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #2db300, 0 0 30px #2db300, 0 0 40px #2db300, 0 0 55px #2db300, 0 0 75px #2db300;
    }

   .choice {
        padding: 0.5em;
    }
    .buttonChoice{
        
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: #232323;
        padding: 1.75rem;
        font-family: buttonFont;
        font-weight: bold;
        font-size: 0.8em;
        overflow: hidden;
        margin-bottom: 5em;
     
    }
    


}



 