html{
    margin: 0;
    padding: 0;
    height: 100vh;

}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./Img/pexels-alesia-kozik-6546033.jpg");
    background-size: 100vw;
    background-position: center;
    background-attachment: fixed;
    background-position: 35% 35%;    
}

header{
   
    background-color: white;
    width: 80vw;
    text-align: center;
}